<div class="row">
    <div class="col-8">

        <!-- Introducción -->
        <nb-card>
            <nb-card-header>INTRODUCCIÓN</nb-card-header>
            <nb-card-body>
                <p><strong style="font-size: large">{{appname}}</strong> es un software de composición musical elaborado como
                    Proyecto de Fin de Grado en Ingeniería Informática, UNED.</p>
                <p>El objetivo principal es la implementación de un algoritmo evolutivo en un caso real. Para ello se ha
                    utilizado la librería <a href="https://jenetics.io/">Jenetics</a>, disponible en Java.</p>
                <p>En la sección "<strong>Composición</strong>" podrás rellenar un formulario de especificaciones para hacer una
                    solicitud, que será recibida por el backend y posteriormente derivada al servicio de composición,
                    el responsable de atender la petición y elaborar el resultado.</p>
                <p>Podrás ver los resultados de las composiciones una vez finalicen en la sección
                    "<strong>Mi repositorio</strong>", donde podrás visualizar y descargar (en formatos .musicxml y .pdf)</p>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>Estructura</nb-card-header>
            <nb-card-body>
                <img src="/assets/images/scheme.svg" class="w-100" alt="logo">
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-4">

        <!-- Logo -->
        <object class="w-100" style="max-height: 500px" data="/assets/images/favicon.svg"></object>

        <!-- Changelog -->
        <ngx-changelog></ngx-changelog>

    </div>
</div>


